* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
}

.grid {
    background: url(images/JB_BG.png) top center no-repeat;
    background-size: 100%;
    background-attachment: local;
}

/* Utility */
.stretch {
    align-self: stretch;
}

.none {
    display: none;
}


/* Typography */

h1, h2, h3, h4, p, a, ul, button {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: black;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-weight: 500;
    font-size: 32px;
}

h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.60);
}

img {
    width: 100%;
    display: block;
}


/* Links & Button */

button {
    background-color: white;
    height: 72px;
    justify-content: center;
    width: 100%;
    border: 1px black solid;
    border-radius: 4px;
}

button:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

button:active {
    background-color: black;
    color: white;
}

a {
    color:rgba(0, 0, 0, 0.70)
}

a:hover {
    color: rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

a:active {
    color: black;
}

/* CSS Grid */

.grid {
    height: 100vh;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 48px 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        ". nav nav nav nav nav nav nav nav nav nav nav nav ."
        ". spacer spacer spacer spacer spacer spacer spacer spacer spacer spacer spacer spacer ."
        ". box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3 ."
        ". box4 box4 box4 box4 . . box5 box5 . . box6 box6 .";
    }

nav {
    grid-area: nav;
}

.spacer {
    grid-area: spacer;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
    
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.box6 {
    grid-area: box6;
}



/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    margin-left: -8px;
    margin-right: -24px;
  
}

nav .logo-container {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
}

nav .nav-links-container {
    display: flex;
    align-items: flex-start;
}

nav .nav-links {
    text-decoration: none;
    display: flex;
    height: 48px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
}

nav a.active {
    color: black;
    background-color: rgba(0, 0, 0, .08);
    border-radius: 4px;
    margin: 4px 0;
    height: 40px;
}

/* Box Layouts */

.box1, .box2, .box3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 40px;
}

.box4, .box5, .box6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}


/* Mobile */

@media only screen and (max-width: 800px) {
    .grid {
        display: grid; 
        grid-template-columns: 12px 1fr 12px;
        grid-template-rows: 48px 200px auto auto auto auto auto auto auto;
        grid-template-areas: 
        "nav nav nav"
        ". spacer ."
        ". box1 ."
        ". box2 ."
        ". box3 ."
        ". box4 ."
        ". box5 ."
        ". box6 .";
    }

    br {
        display: none;
    }

    nav {
        background-color: white;
        margin: 0px;
    }

    .line1, .line2 {
        display: block;
    }

    p, ul, h1, button {
        margin-bottom: 24px;
    }

    .box1, .box2, .box3 {
        padding-right: 0px;
    }

    .box4 {
        margin-top: 120px;
    }

    .box5 {
        margin-bottom: 24px;
    }

    .box6 {
        padding-bottom: 60px;
    }
}

/* .nav, .box2, .box1, .box2, .box3, .box4, .box5, .box6 {
    grid-column: 2/4;
} */